.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.redbar{
  height: 80px;
  display: inline-block;
  background: rgb(142, 30, 40);
  text-align: left;
  color: white;
  line-height: 80px;
  padding: 10px;
  background:white;
}

.blackline{
  width: 3px;
  height: 80px;
  display: inline-block;
  background: white;
  color: white;
  line-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;


}
.greenbar{
  height: 80px;
  display: inline-block;
  background: rgb(64, 104, 55);
  text-align: right;
  color: white;
  line-height: 80px;
  padding: 10px;
  background:white;

}

.p-bottom-10{
  padding-bottom:10%;
}

.redbar-25{
  width: 93px;
  background: rgb(142, 30, 40);

}

.greenbar-300{
  width: 557px;
  background: rgb(64, 104, 55);

}

.redbar-50{
  width: 100px;
  background: rgb(142, 30, 40);

}

.greenbar-275{
  background: rgb(64, 104, 55);

  width: 550px;
}

.redbar-151{
  width: 302px;
  background: rgb(142, 30, 40);
}

.greenbar-174{
  width: 348px;
  background: rgb(64, 104, 55);
}

.text{
  margin-top: 15px;
}

.liam{
  width: 60%;
  margin-top: 40px;
  margin-bottom: 80px;
}


.lucy{
  width: 60%;
  margin-top: 0px;
  margin-bottom: 80px;
}


.p1{
  margin-top: -140px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
